* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif, Arial;
	line-height: 1.6;
	font-size: 18px;
}

footer{
	width: 100%;
	background: #5b30aa;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: column;
}

.footerbottom{
	background: #814de2;
	color: rgb(255, 255, 255);
	font-size: 12px;
}