footer {
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.footer a{
    color:#9c9c9c;
}

.up{
    box-sizing: border-box;
    display: flex;
}

.img{
    display: flex;
    align-items: center;
}

.img img{
    box-sizing: border-box;
    width: 20px;
}
